SUWA_PIXELA_TOOLS_KEY_FILE_LOCATION=./client_secrets.json
SUWA_PIXELA_TOOLS_VIEW_ID=XXXXX
SUWA_PIXELA_TOOLS_PIXELA_URL=https://pixe.la/v1/users/testing/graphs/test-graph
SUWA_PIXELA_TOOLS_PIXELA_TOKEN=thisissecret
